/.log/
build/
/.DS_Store
/.cache/
/CMakeFiles/
/cmake/
/node_modules/
/test/.DS_Store
/test/CMakeFiles/
/src/modules/effekter/CMakeFiles/
/cmake_install.cmake
/src/modules/effekter/cmake_install.cmake
/test/cmake_install.cmake
/compile_commands.json
/src/modules/effekter/Makefile
/test/Makefile
/test/EffektPedal_Test_Reverb
/test/EffektPedal_Test_Delay
/Makefile
/CMakeCache.txt
